name: ae-de-play

volumes:
  db-data:
  dagster-home-data:
  venv-data:
  superset-home-data:
  superset-redis-data:

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.1.0/26
          gateway: 172.20.1.1

x-common-env: &common_env
  PYTHON_ENV: development
  DAGSTER_HOME: /opt/dagster
  DBT_TARGET_PATH: /app/src/target
  NASA_FIRMS_MAP_KEY: ${NASA_FIRMS_MAP_KEY}
  MINIO_BUCKET: ${MINIO_BUCKET}
  MINIO_ENDPOINT: ${MINIO_ENDPOINT}
  MINIO_REGION: ${MINIO_REGION}
  MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
  MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
  MINIO_ROOT_USER: ${MINIO_ROOT_USER}
  MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
  GCS_BUCKET: ${GCS_BUCKET}
  GCS_APPLICATION_CREDENTIALS: /home/dagster/.config/gcloud
  GCS_HMAC_ACCESS_KEY: ${GCS_HMAC_ACCESS_KEY}
  GCS_HMAC_SECRET_KEY: ${GCS_HMAC_SECRET_KEY}
  RAPIDAPI_INSTAGRAM_API_KEY: ${RAPIDAPI_INSTAGRAM_API_KEY}
  GPU_TRACKER_POSTGRES_DATABASE: ${GPU_TRACKER_POSTGRES_DATABASE}
  GPU_TRACKER_POSTGRES_USERNAME: ${GPU_TRACKER_POSTGRES_USERNAME}
  GPU_TRACKER_POSTGRES_PASSWORD: ${GPU_TRACKER_POSTGRES_PASSWORD}
  GPU_TRACKER_POSTGRES_HOST: ${GPU_TRACKER_POSTGRES_HOST}
  GPU_TRACKER_POSTGRES_PORT: 5432

services:
  dagster:
    build: .
    image: kvdomingo/ae-de-play
    restart: unless-stopped
    command:
      - >
        uv sync --frozen;
        exec uv run dagster dev -h 0.0.0.0 -p 3030;
    init: true
    environment: *common_env
    volumes:
      - .:/app
      - ${HOME}/.config/gcloud:/home/dagster/.config/gcloud:ro
      - venv-data:/app/.venv
      - dagster-home-data:/opt/dagster
    ports:
      - "3030:3030"
    depends_on:
      db:
        condition: service_healthy

  jupyter:
    build: .
    image: kvdomingo/ae-de-play
    restart: unless-stopped
    command:
      - exec /app/.venv/bin/jupyter lab --no-browser --autoreload --ip 0.0.0.0
    environment:
      <<: *common_env
      JUPYTER_PORT: 8888
    volumes:
      - .:/app
      - venv-data:/app/.venv
    ports:
      - "8888:8888"
    depends_on:
      dagster:
        condition: service_started

  db:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - db-data:/var/lib/postgresql
      - ./initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres", "-d", "postgres" ]
      start_period: 5s
      interval: 20s
      retries: 3
      timeout: 2s

  superset:
    build:
      context: .
      dockerfile: superset.Dockerfile
    image: kvdomingo/ae-de-play-superset
    restart: unless-stopped
    environment:
      SUPERSET_SECRET_KEY: ${SUPERSET_SECRET_KEY}
      SUPERSET_CONFIG_PATH: /opt/superset_config.py
    volumes:
      - ./data:/opt/data
      - ./superset_config.py:/opt/superset_config.py
    ports:
      - "8088:8088"
    depends_on:
      db:
        condition: service_healthy

  evidence:
    image: node:lts-bookworm
    restart: unless-stopped
    user: '1000:1000'
    init: true
    entrypoint:
      - /bin/sh
      - -eu
      - -c
    command:
      - npm install && exec npm run dev
    working_dir: /app/evidence
    volumes:
      - ./evidence:/app/evidence
      - ./data:/app/data
    ports:
      - '3000:3000'
